html {
    min-height:100vh;
} 

body {
    min-height: 100vh;
}

#root{
    min-height:100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');